<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.blog.mapper.SeqMapper">

    <!-- 验证登录名是否存在 -->
    <select id="checkUser" parameterType="java.lang.String" resultType="java.lang.Boolean">
        select count(*) from bl_user
        <where>
            login_name = #{loginName}
        </where>
    </select>

    <insert id="insert" parameterType="com.study.springboot.data.User">
        insert into bl_user(user_id,login_name,salt,password,email,mobile,create_date,update_date)
        values(#{userId},#{loginName},#{salt},#{password},#{email},#{mobile},#{createDate},#{updateDate})
    </insert>

	<select id="getById" parameterType="java.lang.String" resultType="com.study.springboot.data.User">
        select user_id userId,login_name loginName,salt,password,email,mobile,create_date createDate,update_date updateDate
        from bl_user where user_id = #{userId}
    </select>

	<update id="update" parameterType="com.study.blog.data.User">
        update bl_user
        <set>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="mobile != null and mobile != '' ">
                mobile = #{mobile},
            </if>
            <if test="password != null and password != '' ">
                password = #{password},
            </if>
            update_date = #{updateDate}
        </set>
        where user_id = #{userId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from bl_user where user_id = #{userId}
    </delete>

    <!-- 获取user列表 -->
    <select id="usersList" parameterType="com.study.springboot.data.User">
        <![CDATA[select * from bl_user]]>
        <where>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName}
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile}
            </if>
        </where>
        <![CDATA[ order by user_id desc ]]>
        <if test="pageSize != null and start != null ">
            limit #{start},#{pageSize}
        </if>
    </select>
    <!-- 获取user列表的总量 -->
    <select id="usersSize" resultType="Integer">
        <![CDATA[select count(*) from bl_user]]>
        <where>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName}
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile}
            </if>
        </where>
    </select>
</mapper>